 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*class selectors*/
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
 aside {
  width: 20em;
  text-align: center;
}
 header, .grid, footer {
    max-width: 840px;
    margin: 0;

}
.grid {
  display: grid;
  align-items: center;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}
aside img{
    width: 200px;
    height: auto;
    float: left;
   
}
main {
  grid-column: 2/3;
  margin: 1rem;
}
main img{
    width:179px;
    height: auto;
    float: right;
    left: 20%;
}
p{padding: 0;}
footer{
    margin-top:15px;
    border-top: 1px solid #000;
    text-align: center;
}
nav{
    background-color: rgb(80, 170, 243);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}


footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 20px;
    margin: 20px;
    height: auto;
    width: 100%;

}

footer div.socialmedia {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer div.socialmedia a {
    text-decoration: none; /* remove underline for social media links */
}

footer div.socialmedia a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: transform 0.3s;
}

footer div.socialmedia a img:hover {
    transform: scale(1.4);

}
