:root {
    --primary-color:#0555a05;
    --secondary-color:#04248d;
    --accent1-color:#264653;
    --accent2-color:#e9c46a;
    --heading-font: "Times New Roman","Georgia",serif;
    --body-font: Arial, Helvetica, sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia {
    display: flex;
    gap: 10px;
    align-items: center;
}
   
.socialmedia a {
    text-decoration: none;
}

.socialmedia img{
   width: 40px;
   height: auto; 
}

.hero{
    position: relative;
}

.hero h1 {
  position: absolute;
 
}

.hero article {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-attachment: var(--accent1-color);
    color:#fff;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-attachment: var(--accent1-color);
    color:#fff;
}

.hero article img{
    float: right;
    width: 125px;
    border: #e9c46a;
    box-shadow: #04248d;
    margin: auto;
}

