 header, footer {
    max-width: 840px;
    margin: 0;
}
aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0 0 0 / 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img{
    width:200px;
    height: auto;
}
main img{
    width:150px;
    height: auto;
}
p{padding: 0;}
footer{
    margin-top:15px;
    border-top: 1px solid #000;
    text-align: center;
}
nav{
    background-color: rgb(80, 170, 243);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 15px;
}

footer div.socialmedia {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer div.socialmedia a {
    text-decoration: none; /* remove underline for social media links */
}

footer div.socialmedia a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    transition: transform 0.3s;
}

footer div.socialmedia a img:hover {
    transform: scale(1.2);
}